<div class="navbar navbar-default navbar-openshift navbar-origin navbar-other" role="navigation">
	<a class="navbar-brand origin" href="<%= site_url %>"></a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link manual" href="javascript:void(0);" onclick="goFirstPage('<%= distro_key %>', '<%= version %>'); return false;" >메뉴얼</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled version" >버전</a>
			</li>
			<li class="nav-item">
				<select id="version-selector" onchange="versionSelector(this, '<%= distro_key %>', '<%= version %>');">
					<!-- 버전 추가 -->
					<option value="4">HyperCloud 4</option>
					<option value="3">HyperCloud 3</option>
				</select>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<span class="fa fa-globe" style="color:white"></span>
				<select id="language-selector" onchange="languageSelector(this, '<%= distro_key %>');" >
					<option value="hypercloud">한국어</option>
					<option value="hypercloud-en">EN-US</option>
				</select>
			</li>
			<li class="nav-item console" >
				<a class="nav-link" href="#" >
					콘솔
					<span class="fa fa-external-link"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
